<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Alpha 10</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rationale&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
</head>
<body>
  