<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/personagens">Personagens</a></li>
    <li><a href="/regras">Regras</a></li>
    <li><a href="/historia">História</a></li>
  </ul>
</nav>