<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h1>Bem-vindo ao Alpha 10</h1>
<p>Uma historia de rpg de mesa, baseada em fundação SCP</p>

<div class="historia">
<h2> Um pouco da historia</h2>
<p>Essa historia atualmente esta com os personagen explorando uma cidade misteriosa a baixo de londres, nomeada Unlondon</p>
<img src="/img/Mapa1.webp"> 
<p>eOs primeiros contatos com UnLondon não são explosivos, mas inquietantes. Pequenas inconsistências, registros estranhos, talvez relatos incompletos ou corrompidos. A cidade não se revela de uma vez — ela “vaza” para a realidade. Isso cria uma sensação de investigação, quase como se algo estivesse tentando ser entendido, mas sempre escapando.</p>
<p></p>
</div>

<%- include("partials/footer") %>